* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  min-width: 960px;
  color: #333;
  background-color: #fff;
  font: 30px/1.3 Roboto, Arial, sans-serif;
  font-weight: 100;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.wrap:after {
  content: '';
  display: table;
  clear: both;
}
.clearfix {
  content:"";
  display: table;
  clear:both;
}
.header {
  background-color: #111;
  color: #fff;
  font-size: 20px;
  padding: 6px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.logo {
  font: 15px Roboto, Arial, sans-serif;
  float: left;
  margin: 2px 0;
  margin-left: 20px;
  width: 115px;
  padding: 8px 0;
  line-height: 20px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("../img/logo.png") no-repeat 50%/cover;
}

.logo:hover {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
  width: 124px;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.logo > b {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 5px;
}

.headerNav  {
  float: right;
  margin-right: 55px;
}

.headerNav > a {
  display: inline-block;
  margin-left: 55px;
  font-size: 18px;
  line-height: 2.3;
  font-weight: 700;
}

.headerNav > a:first-of-type {
  margin-left: 0;
}

.headerNav > a:last-of-type {
  margin-left: 100px;
}

.headerNav > a:hover {
  color: #c1c1c1;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.headerNav > a:active {
  color: #ce2053;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.slideOne {
  padding: 130px 0 85px;
  color: #fff;
  text-align: center;
  background: url("../img/bg-slideOne.jpg") no-repeat 50%/cover;
  background-color: #535353;
}

.slideOne_pre {
  margin: 0 auto 35px;
  padding: 130px 0;
  width: 635px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url("../img/bg-slideOne_pre.png") no-repeat top/100%;
}

.slideOne_sub {
  margin-bottom: 55px;
  padding: 0 40px;
}

.btn {
  padding: 19px 30px;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border: 3px solid #fff;
  
}

.btn:hover {
  border: 3px solid #ce2053;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn:active {
  background-color: #ce2053;
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}

.slideTwo {
  padding: 15px 0 60px;
  font: 30px/1.3 Roboto, Arial, sans-serif;
  font-weight: 100;
  width: 980px;
  text-align: center;
  margin: 0 auto;
}

.slideTwo_header {
  font: 48px Roboto, Arial, sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 60px;
}

.slideThree {
  text-align: center;
  color: #fff;
  padding: 70px 0 50px;
  background-image: url("../img/bg-slideThree.jpg");
  background-color: #4B4B4B;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  min-height: 580px;
}

.slideThree_header {
  font:45px "Roboto", "Arial", sans-serif;
  font-weight: 400;
  width: 650px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  line-height: 80px;
  margin-bottom: 80px;
}

.slideThree_header > div {
  font: 60px/1.3 "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
}

.slideThree .slideThree_red  {
  margin-top: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
  font: 55px "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  color:#d12148;
}

.slideFour {
  padding: 30px 0 50px;
  text-align: center;
  color: #fff;
  background-image: url("../img/bg-slideFour.jpg");
  background-color: #d12148;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.slideFour_cols {
  margin: 0 auto 30px;
  width: 480px;
  font-size: 0;
  text-align: center;
}

.slideFour_col {
  width: 160px;
  font: 18px Roboto, Arial, sans-serif;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px ;
}

.slideFour_col strong{
  display: block;
  font: 72px Roboto, "Arial", sans-serif;
  font-weight: 500;
}

.slideFour p {
  font: 30px Roboto, Arial, sans-serif;
  font-weight: 100;
  width: 660px;
  margin: 0 auto;
}

.slideFive {
  padding: 70px 0 90px;
  text-align: center;
}

.slideFive_header {
  font: 30px "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto 80px;
}

.slideFive_gallery {
  font-size: 0;
  text-align: center;
}

.slideFive_gallery figure {
  display: inline-block;
  vertical-align: top;
  width:330px;
  margin: 0;
  height: 102px;
}

.slideFive_gallery figure img {
  -webkit-filter: url('../img/filters.svg#grayscale');
          filter: url('../img/filters.svg#grayscale'); 
    filter: gray;
    -webkit-filter: grayscale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slideFive_gallery figure img:hover {
  filter: none; 
    -webkit-filter: grayscale(0);
}

.slideSix {
  text-align: center;
}

.slideSix_header {
  margin-bottom: 60px;
  padding: 50px 0;
  color:#fff;
  background-color: #2d2d2d;
  font: 48px/1.3 "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}

.slideSix_list {
  margin: 0 10px;
  width: 300px;
  float: left;
  font-size: 0;
  padding: 0;
  text-align: left;
}

.slideSix_list li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  color: #000;
  font: 18px Roboto, Arial, sans-serif;
  font-weight: 100;
  width: 300px;
  margin: 0 10px;
  padding-top: 19px;
  min-height: 95px;
  padding-left: 72px;
}

.slideSix_list li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 45px;
  font: 18px Roboto, Arial, sans-serif;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
  background-color: #d12148;
  margin-right: 15px;
  color:#fff;
  padding-top: 5px;
}

.slideSix_list li span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 15px 0;
  border-color: transparent #fff transparent transparent;
}

.slideSix_list li span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 12px;
  border-color: transparent transparent transparent #fff;
}

.slideSix_header--color {
  color:#000;
  background-color: #fff;
}

.slideSix_gallery {
  margin-bottom: 85px;
  width: 960px;
}

.slideSix_gallery input[type="radio"] {
  display: none;
}

.slideSix_inner {
  position: relative;
  height: 280px;
  width: 100%;
}

.slideSix_wrapper {
  width: 300%;
}

.slideGroup {
  display: none;
  position: relative;
  height: 280px;
  z-index: 1;
  width: 100%;
}

.slideGroup figure {
  margin: 0;
  display: inline-block;
  width:254px;
  vertical-align: top;
  font: 18px Roboto, Arial, sans-serif;
  font-weight: 400;
}

.slideGroup figure img {
  border: 2px solid #d12148;
  border-radius: 50%;
}

.slideGroup figcaption {
  font-weight: 100;
}

.slideGroup figcaption b {
  display: block;
}

#btn-1:checked ~ .slideSix_inner .slideGroup:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slideSix_inner .slideGroup:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slideSix_inner .slideGroup:nth-child(3) {
  display: block;
}

.slideSix_arrow-left {
  content: '';
  position: absolute;
  top: 87px;
  left: 30px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border-bottom: 5px solid #333;
  border-left: 5px solid #333;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2000;
}

.slideSix_arrow-right {
  content: '';
  position: absolute;
  top: 87px;
  right: 30px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2000;
}

.slideSeven {
  color: #fff;
  background: #2d2d2d;
}

.slideSeven_header {
  position: relative;
  padding: 20px;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #d12148;
}

.slideSeven_header .wrap {
  position: relative;
  padding: 0 110px;
}

.slideSeven_header .wrap:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 10px;
  width: 33px;
  height: 33px;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
}

.slideSeven_header .wrap:after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 10px;
  width: 33px;
  height: 33px;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #fff;
}

.slideSeven_left {
  margin-left: 1%;
  padding: 110px 0 68px;
  float: left;
  width: 49%;
}
.slideSeven_leftHeader {
  margin-bottom: 65px;
  padding-right: 45px;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.slideSeven_left .sp {
  margin-bottom: 155px;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 400;
}

.slideSeven_leftP {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.slideSeven_right {
  margin-right: 1%;
  padding: 525px 62px 87px;
  float: left;
  width: 49%;
  background: #c22e4e url("../img/bg-slideSeven.jpg") no-repeat 50%/cover;
}

.slideSeven_border {
  margin: 0;
  padding: 20px;
  padding-bottom: 35px;
  font-family:  "Roboto", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  border: 5px solid #fff;
}

.slideSeven_headerSub {
  padding: 35px 0;
  color: #000;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  background-color: #d7d7d7;
  -webkit-animation: we 1s infinite alternate;
          animation: we 1s infinite alternate;
}

.slideEight {
  padding: 90px 0;
  background: #2a2928 url("../img/bg-slideEight.jpg") no-repeat 50%/cover;
}

.red {
  color: #ce2053;
}

.slideEight_header {
  margin-bottom: 33px;
  padding-left: 115px;
  padding-right: 400px;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.slideEight_headerSub {
  padding-left: 115px;
  padding-right: 300px;
  margin-bottom: 30px;
  font-family:  "Roboto", "Arial", sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.callback {
  padding-left: 115px;
}

label, 
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  display: block;
}

label {
  margin-bottom: 6px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 7px 5px;
  margin-bottom: 17px;
  width: 380px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 18px; 
  line-height: 22px; 
  font-weight: 100;
  outline: none;
}

textarea {
  width: 620px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  font-weight: 400;
  border: 2px solid #ce2053;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

input[type="text"]::-webkit-input-placeholder { font-family:  "Roboto", "Arial", sans-serif; font-weight: 100; }
input[type="text"]::-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
input[type="text"]:-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
input[type="text"]:-ms-input-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }

input[type="tel"]::-webkit-input-placeholder { font-family:  "Roboto", "Arial", sans-serif; font-weight: 100; }
input[type="tel"]::-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
input[type="tel"]:-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
input[type="tel"]:-ms-input-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }

input[type="email"]::-webkit-input-placeholder { font-family:  "Roboto", "Arial", sans-serif; font-weight: 100; }
input[type="email"]::-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
input[type="email"]:-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
input[type="email"]:-ms-input-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }

textarea::-webkit-input-placeholder { font-family:  "Roboto", "Arial", sans-serif; font-weight: 100; }
textarea::-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
textarea:-moz-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }
textarea:-ms-input-placeholder { font-family:  "Roboto", "Arial", sans-serif;  font-weight: 100; }

.btn-submit {
  color: #ce2053;
  background-color: transparent;
  border: 3px solid #ce2053;
  outline: none;
}
.btn-submit:hover {
  color: #fff;
  background-color: #ce2053;
}
.footer {
  padding-bottom: 90px;
  color: #fff;
  background-color: #2a2928;
}

.footer:after {
  content: '';
  display: table;
  clear: both;
}

.footer_left {
  float: left;
  width: 50%;
  height: 500px;
}

.footer_map {
  width: 100%;
}

.footer_right {
  padding: 0 0 70px 90px; 
  float: left;
  width: 50%;
}

.footer_header {
  margin-top: 65px;
  padding-right: 150px;
  font-family:  "Roboto Condensed", "Arial", sans-serif;
}

.footer_right .sp {
  margin-bottom: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}

.footer_link {
  margin-bottom: 95px;
  display: inline-block;
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.social {
  font-size: 0;
}

.social_btn {
  margin-right: 56px;
  margin-bottom: 5px;
  padding: 36px;
  display: inline-block;
  color: transparent;
  line-height: 0;
}

.social_btn:hover {
  background-color: #6e605c;
}

.social_btn:active {
  background-color: #655754;
}

.social_btn-vk {
  background: #7a6b67 url("../img/icon-vk.png") no-repeat 50%;
}

.social_btn-inst {
  background: #7a6b67 url("../img/icon-inst.png") no-repeat 50%;
}

.social_link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  vertical-align: bottom;
  text-decoration: none;
}

.social_link:hover,
.footer_link:hover{
  color: #d12148;
}

@-webkit-keyframes we { 
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
@keyframes we { 
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}